* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.sky {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

@keyframes nevicata {
    0% { top: 0%; }
    100% { top: 100%;}
}

@keyframes oscillazione {
   0% {transform: translateX(0);}   /* sposto un oggetto da sinistra a destra */
   50% {transform: translateX(50px);}
   100% {transform: translateX(20px);}
}

.fiocco {
    position: absolute;
    font-size: 50px;
    color: white;
    animation-name: nevicata, oscillazione;
    animation-duration: 8s, 3s;
    animation-iteration-count: infinite, infinite;
}

.sky .fiocco:nth-child(2) {
    animation-delay: 2s;
    left: 120px;
}

.sky .fiocco:nth-child(3) {
    animation-delay: 4s;
    left: 210px;
}

.sky .fiocco:nth-child(4) {
    animation-delay: 2s;
    left: 300px;
}

.sky .fiocco:nth-child(5) {
    animation-delay: 6s;
    left: 450px;
}

.sky .fiocco:nth-child(6) {
    animation-delay: 11s;
    left: 550px;
}

.sky .fiocco:nth-child(7) {
    animation-delay: 9s;
    left: 710px;
}

.sky .fiocco:nth-child(8) {
    animation-delay: 1s;
    left: 800px;
}

.sky .fiocco:nth-child(9) {
    animation-delay: 4s;
    left: 950px;
}
